.actual
    &__card
        &:hover .actual__img::before
            opacity: 0.4
    &__img
        position: relative
        overflow: hidden
        margin-bottom: 6px
        & img
            width: 100%
            aspect-ratio: 1
        &::before
            content: ''
            position: absolute
            background-color: #000
            opacity: 0
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 1
            transition: opacity .3s ease
            pointer-events: none
    &__name
        font-weight: 700
        margin-bottom: 6px
    &__description

@media screen and (max-width: 576px)
    .actual
        &__card
            margin-bottom: 16px
            display: block

@media screen and (max-width: 425px)
    .actual
        &__name
            font-size: 14px
            margin-bottom: 4px
        &__description
            font-size: 12px