.header
  box-shadow: -1px 5px 16px 0px rgba(0,0,0,0.15)
  &__top
    background-color: $primary
  &__phone
    cursor: pointer
    & svg
      width: 18px
    & span
      color: #fff
      transition: color .3s ease
    &:hover 
      & svg
        animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both
        & path
          stroke: darken(#fff, 25%)
      & span
        color: darken(#fff, 25%)
  &__city
    cursor: pointer
    & svg
      width: 18px
    & span
      color: #fff
      transition: color .3s ease
    &:hover 
      & svg 
        animation: jump 0.8s cubic-bezier(.36,.07,.19,.97) both
        & path
          stroke: darken(#fff, 25%)
      & span
        color: darken(#fff, 25%)
  &__hero
  &__tabs
    flex-basis: 40%
  &__tab
    position: relative
    color: #000
    font-weight: 700
    border-bottom: 2px solid transparent
    transition: border .3s ease
    &::after
      content: ''
      position: absolute
      bottom: 0
      right: 0
      width: 100%
      background-color: $primary
      height: 2px
      transform: scale(0)
      transform-origin: right
      transition: transform .3s ease
    &:hover::after
      transform: scale(1)
    &.active::after
      transform: scale(1)
  &__logo
    font-family: 'Oswald', sans-serif
    font-size: 45px
    font-weight: 700
    flex-basis: 20%
  &__right
    flex-basis: 40%
  &__basket
    cursor: pointer
    position: relative
    & svg
      width: 50px
      height: 50px
      display: block
      transition: filter .3s ease
    &:hover svg
      filter: brightness(0)
    &-num
      position: absolute
      width: 20px
      height: 20px
      top: 0
      right: 0
      border-radius: 50%
      background: red
      color: #fff
      display: flex
      justify-content: center
      align-items: center
      font-size: 14px
      font-weight: 600
  &__search
    cursor: pointer
    & svg
      width: 30px
      height: 30px
      margin-top: 3px
      fill: #fff
      transition: fill .3s ease
      &:hover
        fill: #000
    & .search-input
      position: absolute
      width: 0px
      right: -3px
      padding-right: 30px
      border-color: #fff
      transition: width .5s ease, border .5s ease
    &.active 
      & .search-input
        width: 320px
        border-color: #dee2e6
        &:focus
          border-color: #222
  &__login-btn
    opacity: 0
    transition: opacity .3s ease
    &.visible
      opacity: 1

@keyframes shake
  10%, 90%
    transform: rotate(-5deg)
  20%, 80%
    transform: rotate(10deg)
  30%, 50%, 70%
    transform: rotate(-20deg)
  40%, 60%
    transform: rotate(20deg)

@keyframes jump
  15%
    transform: translateY(-2px)
  40%
    transform: translateY(0px)
  60%
    transform: translateY(-3px)
  90%
    transform: translateY(0px)

@media screen and (max-width: 1140px)
  .header
    &__search.active .search-input
      width: 500px

@media screen and (max-width: 982px)
  .header
    &__search.active .search-input
      width: 400px

@media screen and (max-width: 900px)
  .header
    &__search.active .search-input
      width: calc(100vw - 193px)

@media screen and (max-width: 768px)
  .header
    &__hero
      flex-wrap: wrap
    &__tabs
      order: 1
      flex-wrap: wrap
      flex-basis: 100%
    &__logo
      flex-basis: 40%
      text-align: left !important
    &__right
      flex-basis: 60%

@media screen and (max-width: 768px)
  .header
    &__hero
      padding-bottom: 4px
    &__tab
      font-size: 14px

@media screen and (max-width: 475px)
  .header
    &__logo
      font-size: 36px
    &__login-btn
      font-size: 14px
    &__basket
      & svg
        width: 40px
        height: 40px
      &-num
        width: 16px
        height: 16px
        font-size: 12px
    &__search 
      & svg
        width: 25px
        height: 25px
      & .search-input
        height: 35px
    &__search.active .search-input
      width: calc(100vw - 178px)
    
@media screen and (max-width: 425px)
  .header
    &__top
      font-size: 12px
    &__search.active .search-input
      width: calc(100vw - 150px)

@media screen and (max-width: 375px)
  .header
    &__tab
      font-size: 12px