*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #222222;
}

body {
  line-height: 1.35;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  overflow-x: hidden;
  color: #222222;
}

.cust-container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
}

.section {
  width: 100%;
  position: relative;
  padding: 30px 0;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.input-error {
  color: red;
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

button.accordion-button {
  color: #222222;
  font-weight: bold;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 1px solid transparent;
  background: #fff;
}

button.accordion-button:not(.collapsed) {
  background: #fff;
  color: #222;
}

button.accordion-button:not(.collapsed) ::after {
  background-image: var(--bs-accordion-btn-icon);
}

button.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

button.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #222222;
  border: 1px solid #222222;
  color: #fff;
}

button.accordion-button:focus::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media screen and (max-width: 425px) {
  .cust-container {
    padding: 0 16px;
  }
}

.header {
  -webkit-box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.15);
}

.header__top {
  background-color: #222222;
}

.header__phone {
  cursor: pointer;
}

.header__phone svg {
  width: 18px;
}

.header__phone span {
  color: #fff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header__phone:hover svg {
  -webkit-animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.header__phone:hover svg path {
  stroke: #bfbfbf;
}

.header__phone:hover span {
  color: #bfbfbf;
}

.header__city {
  cursor: pointer;
}

.header__city svg {
  width: 18px;
}

.header__city span {
  color: #fff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header__city:hover svg {
  -webkit-animation: jump 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: jump 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.header__city:hover svg path {
  stroke: #bfbfbf;
}

.header__city:hover span {
  color: #bfbfbf;
}

.header__tabs {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header__tab {
  position: relative;
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.header__tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #222222;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header__tab:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__tab.active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__logo {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  font-weight: 700;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.header__right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header__basket {
  cursor: pointer;
  position: relative;
}

.header__basket svg {
  width: 50px;
  height: 50px;
  display: block;
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
}

.header__basket:hover svg {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.header__basket-num {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: red;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.header__search {
  cursor: pointer;
}

.header__search svg {
  width: 30px;
  height: 30px;
  margin-top: 3px;
  fill: #fff;
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
}

.header__search svg:hover {
  fill: #000;
}

.header__search .search-input {
  position: absolute;
  width: 0px;
  right: -3px;
  padding-right: 30px;
  border-color: #fff;
  -webkit-transition: width .5s ease, border .5s ease;
  transition: width .5s ease, border .5s ease;
}

.header__search.active .search-input {
  width: 320px;
  border-color: #dee2e6;
}

.header__search.active .search-input:focus {
  border-color: #222;
}

.header__login-btn {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.header__login-btn.visible {
  opacity: 1;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@-webkit-keyframes jump {
  15% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jump {
  15% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 1140px) {
  .header__search.active .search-input {
    width: 500px;
  }
}

@media screen and (max-width: 982px) {
  .header__search.active .search-input {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .header__search.active .search-input {
    width: calc(100vw - 193px);
  }
}

@media screen and (max-width: 768px) {
  .header__hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__tabs {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header__logo {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    text-align: left !important;
  }
  .header__right {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media screen and (max-width: 768px) {
  .header__hero {
    padding-bottom: 4px;
  }
  .header__tab {
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .header__logo {
    font-size: 36px;
  }
  .header__login-btn {
    font-size: 14px;
  }
  .header__basket svg {
    width: 40px;
    height: 40px;
  }
  .header__basket-num {
    width: 16px;
    height: 16px;
    font-size: 12px;
  }
  .header__search svg {
    width: 25px;
    height: 25px;
  }
  .header__search .search-input {
    height: 35px;
  }
  .header__search.active .search-input {
    width: calc(100vw - 178px);
  }
}

@media screen and (max-width: 425px) {
  .header__top {
    font-size: 12px;
  }
  .header__search.active .search-input {
    width: calc(100vw - 150px);
  }
}

@media screen and (max-width: 375px) {
  .header__tab {
    font-size: 12px;
  }
}

.profile {
  opacity: 0;
  -webkit-transition: opacity .3s ease, width .3s ease;
  transition: opacity .3s ease, width .3s ease;
  width: 78px;
}

.profile.visible {
  opacity: 1;
  width: 58px;
}

.profile__icon {
  cursor: pointer;
}

.profile__icon svg {
  width: 44px;
  height: 44px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.profile__icon svg.hovered {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.profile__icon:hover .hovered {
  opacity: 1;
}

.profile__icon:hover .default {
  opacity: 0;
}

.profile__icon::after {
  margin-left: 0;
}

.profile__label {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
}

.profile__name {
  white-space: nowrap;
  line-height: 1;
}

.profile__email {
  font-size: 12px;
}

.head-nav__item {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  line-height: 2;
}

.head-nav__item:hover {
  color: #626262;
}

.head-nav__col {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.head-nav__content {
  position: absolute;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: -1px 16px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 16px 16px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  pointer-events: none;
  z-index: 2;
}

.head-nav__content.active {
  opacity: 1;
  pointer-events: all;
  z-index: 3;
}

.head-nav__content-head {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  display: block;
}

.head-nav__content-head:hover {
  color: #626262;
}

.head-nav__content-item {
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  display: block;
  margin-bottom: 6px;
}

.head-nav__content-item:hover {
  color: #626262;
}

.head-nav__hero {
  display: none;
}

.head-nav__hero.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .head-nav {
    display: none !important;
  }
}

.choose-section__card {
  overflow: hidden;
  position: relative;
}

.choose-section__card::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.choose-section__card:hover::before {
  opacity: 0.7;
}

.choose-section__card img {
  width: 100%;
  aspect-ratio: 0.7;
}

.choose-section__card-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 3;
}

@media screen and (max-width: 425px) {
  .choose-section__card-name {
    font-size: 12px;
  }
  .choose-section h1 {
    font-size: 22px;
  }
}

.slider__carousel-wrap {
  position: relative;
}

.slider__card {
  position: relative;
  cursor: pointer;
}

.slider__card .price {
  font-weight: 600;
}

.slider__card .price__old {
  display: inline;
}

.slider__card .price__old.overlined {
  font-size: 14px;
}

.slider__card .price__old.overlined span {
  text-decoration: line-through;
}

.slider__card .price__new {
  color: red;
  display: inline;
}

.slider__card .name {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2px;
}

.slider__card .brand {
  font-weight: 600;
  line-height: 1.3;
}

.slider__card .description {
  line-height: 1;
  font-size: 14px;
}

.slider__card .sizes {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  line-height: 1.2;
}

.slider__card:hover .sizes {
  opacity: 1;
}

.slider__card:hover .slider__image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider__image {
  position: relative;
  overflow: hidden;
}

.slider__image img {
  width: 100%;
  aspect-ratio: 0.6;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.slider__favourite {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slider__favourite:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider__favourite.active path {
  fill: red;
  stroke: red;
}

.slider__label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  font-size: 12px;
  color: #fff;
  border-radius: 0 10px 0 10px;
  font-weight: 600;
}

.slider__arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  z-index: 2;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-box-shadow: 0 2px 8px #00000014;
          box-shadow: 0 2px 8px #00000014;
  padding: 8px;
}

.slider__arrow svg {
  width: 30px;
  height: 30px;
}

.slider__arrow:hover {
  opacity: 1;
}

.slider__arrow.arrow-left {
  left: -10px;
}

.slider__arrow.arrow-right {
  right: -10px;
}

@media screen and (max-width: 768px) {
  .slider__card .brand {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .slider__arrow {
    padding: 4px 8px;
  }
  .slider__arrow svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .slider__title {
    font-size: 22px;
  }
  .slider__arrow {
    padding: 2px 8px;
    -webkit-transform: translateY(-180%);
            transform: translateY(-180%);
  }
  .slider__arrow svg {
    width: 15px;
    height: 15px;
  }
}

.baner {
  position: relative;
}

.baner__arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  z-index: 2;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-box-shadow: 0 2px 8px #00000014;
          box-shadow: 0 2px 8px #00000014;
  padding: 8px;
}

.baner__arrow svg {
  width: 30px;
  height: 30px;
}

.baner__arrow:hover {
  opacity: 1;
}

.baner__arrow.arrow-left {
  left: 10px;
}

.baner__arrow.arrow-right {
  right: 10px;
}

.baner .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.baner .owl-dots .owl-dot span {
  background: #fff;
}

.baner .owl-dots .owl-dot.active span {
  background: red;
}

@media screen and (max-width: 768px) {
  .baner__arrow {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 600px) {
  .baner__arrow {
    padding: 4px 8px;
  }
  .baner__arrow svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .baner__arrow {
    padding: 2px 8px;
  }
  .baner__arrow svg {
    width: 15px;
    height: 15px;
  }
}

.actual__card:hover .actual__img::before {
  opacity: 0.4;
}

.actual__img {
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
}

.actual__img img {
  width: 100%;
  aspect-ratio: 1;
}

.actual__img::before {
  content: '';
  position: absolute;
  background-color: #000;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  pointer-events: none;
}

.actual__name {
  font-weight: 700;
  margin-bottom: 6px;
}

@media screen and (max-width: 576px) {
  .actual__card {
    margin-bottom: 16px;
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .actual__name {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .actual__description {
    font-size: 12px;
  }
}

.catg-slider {
  padding-top: 30px;
}

.catg-slider {
  position: relative;
  overflow: hidden;
}

.catg-slider::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 20px;
  bottom: 0;
  width: 60px;
  background: #fff;
  z-index: 2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.catg-slider::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 20px;
  bottom: 0;
  width: 60px;
  background: #fff;
  z-index: 2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.catg-slider .owl-item {
  border-radius: 5px;
}

.catg-slider .owl-item:hover {
  background: #e4e4e4;
}

.catg-slider__item {
  padding: 0 12px;
}

.catg-slider__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catg-slider__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.catg-slider__descr {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .catg-slider__item {
    padding: 0 6px;
  }
}

@media screen and (max-width: 425px) {
  .catg-slider__img {
    width: 40px;
    height: 40px;
  }
  .catg-slider__descr {
    font-size: 12px;
  }
}

.footer {
  background: #222222;
  width: 100%;
  color: #fff;
}

.footer__col {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.footer__name {
  font-weight: 700;
}

.footer__item {
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  padding: 3px 0;
  color: #fff;
}

.footer__item:hover {
  color: #bfbfbf;
}

.footer__logo {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.footer__about {
  text-align: right;
}

.footer__social {
  margin-left: auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__social svg {
  width: 30px;
  height: 30px;
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
}

.footer__social:hover svg {
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}

a.footer__item {
  color: #fff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .footer__logo-wrap {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__logo {
    text-align: left !important;
  }
  .footer__list {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .footer__about-wrap {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 475px) {
  .footer__logo {
    font-size: 36px;
  }
}

@media screen and (max-width: 425px) {
  .footer__name {
    font-size: 14px;
  }
  .footer__item {
    font-size: 12px;
  }
}

.modal-input-icon {
  width: 20px;
  height: 20px;
}

.modalInput:focus {
  border-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 none;
}

.modal-link {
  font-size: 14px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  cursor: pointer;
}

.modal-link:hover {
  color: #595959;
}

#selectCityModal .city-item {
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

#selectCityModal .city-item:hover {
  color: #595959;
}

@media screen and (max-width: 992px) {
  #selectCityModal .city-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.product {
  min-width: 768px;
}

.product .price {
  font-weight: 600;
}

.product .price__old {
  display: inline;
}

.product .price__old.overlined {
  font-size: 18px;
}

.product .price__old.overlined span {
  text-decoration: line-through;
}

.product .price__new {
  color: red;
  display: inline;
  font-size: 22px;
}

.product .name {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2px;
  font-size: 28px;
}

.product .brand {
  font-weight: 600;
  line-height: 1.3;
}

.product .description {
  line-height: 1;
  font-size: 14px;
}

.product .product-carousel.owl-carousel .owl-dot {
  float: left;
  background-size: cover;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.product .product-carousel.owl-carousel .owl-dot.active {
  -webkit-box-shadow: 0 2px 8px #0000004d;
          box-shadow: 0 2px 8px #0000004d;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.product__img {
  max-width: 600px;
  margin: 0 auto;
}

.product__arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  z-index: 2;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-box-shadow: 0 2px 8px #00000014;
          box-shadow: 0 2px 8px #00000014;
  padding: 8px;
}

.product__arrow svg {
  width: 30px;
  height: 30px;
}

.product__arrow:hover {
  opacity: 1;
}

.product__arrow.arrow-left {
  left: 0px;
}

.product__arrow.arrow-right {
  right: 0px;
}

.product__size-select select:focus {
  border-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 none;
}

.product__basket-btn {
  width: 100%;
}

.product__favourite-btn svg {
  width: 25px;
  height: 25px;
}

.product__favourite-btn:hover svg path {
  stroke: #fff;
}

.product__favourite-btn.active svg {
  fill: red;
}

.product__favourite-btn.active svg path {
  stroke: red;
}

a.product__basket-btn {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .product__arrow {
    padding: 4px 8px;
  }
  .product__arrow svg {
    width: 20px;
    height: 20px;
  }
  .product .name {
    font-size: 20px;
  }
  .product .brand {
    font-size: 14px;
  }
  .product .price__old.overlined {
    font-size: 16px;
  }
  .product .price__new {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .product__arrow {
    padding: 2px 8px;
    -webkit-transform: translateY(-180%);
            transform: translateY(-180%);
  }
  .product__arrow svg {
    width: 15px;
    height: 15px;
  }
}

.catalog {
  min-width: 1024px;
}

.catalog__card {
  position: relative;
  cursor: pointer;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-bottom: 8px;
}

.catalog__card .price {
  font-weight: 600;
}

.catalog__card .price__old {
  display: inline;
}

.catalog__card .price__old.overlined {
  font-size: 14px;
}

.catalog__card .price__old.overlined span {
  text-decoration: line-through;
}

.catalog__card .price__new {
  color: red;
  display: inline;
}

.catalog__card .name {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2px;
}

.catalog__card .brand {
  font-weight: 600;
  line-height: 1.3;
}

.catalog__card .description {
  line-height: 1;
  font-size: 14px;
}

.catalog__card .sizes {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  line-height: 1.2;
}

.catalog__card:hover .sizes {
  opacity: 1;
}

.catalog__card:hover .catalog__image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.catalog__image {
  position: relative;
  overflow: hidden;
}

.catalog__image img {
  width: 100%;
  aspect-ratio: 0.6;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.catalog__favourite {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.catalog__favourite:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.catalog__favourite:hover path {
  stroke: red;
}

.catalog__favourite.active path {
  fill: red;
  stroke: red;
}

.catalog__label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  font-size: 12px;
  color: #fff;
  border-radius: 0 10px 0 10px;
  font-weight: 600;
}

.catalog__link {
  -webkit-transition: background .3s ease, color .3s ease;
  transition: background .3s ease, color .3s ease;
}

.catalog__link span {
  font-size: 12px;
  color: #575555;
  font-weight: bold;
}

.catalog__link:hover {
  background: #c7c7c7;
}

@media screen and (max-width: 768px) {
  .catalog__card .brand {
    font-size: 14px;
  }
}

.basket {
  min-width: 1024px;
}

.basket__empty svg {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

.basket__empty a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.basket__item {
  border-bottom: 1px solid #ccc;
}

.basket__img-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.basket__img-link img {
  max-width: 150px;
}

.basket__about {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.basket__num-btn:hover .basket__num-btn-icon path {
  stroke: #fff;
}

.basket__num-btn-icon {
  width: 24px;
  height: 24px;
}

.basket .price {
  font-weight: 600;
  font-size: 18px;
}

.basket .price__old {
  display: inline;
}

.basket .price__old.overlined {
  font-size: 16px;
}

.basket .price__old.overlined span {
  text-decoration: line-through;
}

.basket .price__new {
  color: red;
  display: inline;
}

.basket .price__label {
  background-color: red;
  font-size: 12px;
  color: #fff;
  border-radius: 0 10px 0 10px;
  font-weight: 600;
}

.basket__favourite {
  cursor: pointer;
}

.basket__favourite svg {
  width: 25px;
  height: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.basket__favourite:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.basket__favourite:hover svg path {
  stroke: red;
}

.basket__favourite.active svg {
  fill: red;
}

.basket__favourite.active svg path {
  stroke: red;
}

.basket__trash {
  cursor: pointer;
}

.basket__trash svg {
  width: 25px;
  height: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.basket__trash:hover svg path {
  stroke: red;
}

.basket__card {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border: none;
}

.basket__success-icon {
  width: 60px;
  height: 60px;
}

.my-info__input-wrap {
  max-width: 400px;
}

.my-info__action-btn {
  border: 1px solid #198754;
}

.my-info__action-btn .edit-icon {
  display: none;
}

.my-info__action-btn .save-icon {
  display: block;
}

.my-info__action-btn svg {
  width: 20px;
  height: 20px;
}

.my-info__action-btn:hover {
  background-color: #198754;
}

.my-info__action-btn:hover svg path {
  stroke: #fff;
}

.my-info__input:focus {
  border-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 none;
}

.my-info__input[readonly] {
  border-color: #dee2e6;
}

.my-info__input[readonly] ~ .my-info__action-btn {
  border: 1px solid #ffc107;
}

.my-info__input[readonly] ~ .my-info__action-btn .save-icon {
  display: none;
}

.my-info__input[readonly] ~ .my-info__action-btn .edit-icon {
  display: block;
}

.my-info__input[readonly] ~ .my-info__action-btn:hover {
  background-color: #ffc107;
}

.my-info__password-link {
  border-bottom: 1px solid #222222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.my-info__password-link:hover {
  border-bottom: 1px solid #fff;
}

.offer ol {
  list-style: none;
  counter-reset: li;
}

.offer li {
  padding: 10px 0;
}

.offer li.offer__pretitle:before {
  font-weight: 600;
  font-size: 28px;
}

.offer li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.offer__title {
  font-weight: 600;
  font-size: 28px;
}
