*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #222222;
}

body {
  line-height: 1.35;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  overflow-x: hidden;
  color: #222222;
}

.cust-container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
}

.section {
  width: 100%;
  position: relative;
  padding: 30px 0;
}

@media screen and (max-width: 425px) {
  .cust-container {
    padding: 0 16px;
  }
}

.header {
  -webkit-box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.15);
}

.header__top {
  background-color: #222222;
}

.header__phone {
  cursor: pointer;
}

.header__phone svg {
  width: 18px;
}

.header__phone span {
  color: #fff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header__phone:hover svg {
  -webkit-animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.header__phone:hover svg path {
  stroke: #bfbfbf;
}

.header__phone:hover span {
  color: #bfbfbf;
}

.header__city {
  cursor: pointer;
}

.header__city svg {
  width: 18px;
}

.header__city span {
  color: #fff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header__city:hover svg {
  -webkit-animation: jump 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: jump 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.header__city:hover svg path {
  stroke: #bfbfbf;
}

.header__city:hover span {
  color: #bfbfbf;
}

.header__tabs {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header__tab {
  position: relative;
  color: #000;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.header__tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #222222;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header__tab:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__tab.active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__logo {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.header__right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header__basket {
  cursor: pointer;
  position: relative;
}

.basket svg {
  width: 50px;
  height: 50px;
  display: block;
}

.basket svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.basket:hover svg .basket__fill {
  fill: #222222;
}

.basket__num {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: red;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@-webkit-keyframes jump {
  15% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jump {
  15% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .header__hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__tabs {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header__logo {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    text-align: left !important;
  }
  .header__right {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media screen and (max-width: 768px) {
  .header__hero {
    padding-bottom: 4px;
  }
  .header__tab {
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .header__logo {
    font-size: 36px;
  }
  .header__login-btn {
    font-size: 14px;
  }
  .basket svg {
    width: 40px;
    height: 40px;
  }
  .basket__num {
    width: 16px;
    height: 16px;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .header__top {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .header__tab {
    font-size: 12px;
  }
}

.profile__icon {
  width: 48px;
  height: 48px;
  margin-top: 3px;
  cursor: pointer;
}

.profile__label {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
}

.profile__name {
  white-space: nowrap;
  line-height: 1;
}

.profile__email {
  font-size: 12px;
}

.head-nav__item {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  line-height: 2;
}

.head-nav__item:hover {
  color: #626262;
}

.head-nav__col {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.head-nav__content {
  position: absolute;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: -1px 16px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 16px 16px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  pointer-events: none;
  z-index: 2;
}

.head-nav__content.active {
  opacity: 1;
  pointer-events: all;
  z-index: 3;
}

.head-nav__content-head {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  display: block;
}

.head-nav__content-head:hover {
  color: #626262;
}

.head-nav__content-item {
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  display: block;
  margin-bottom: 6px;
}

.head-nav__content-item:hover {
  color: #626262;
}

.head-nav__hero {
  display: none;
}

.head-nav__hero.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .head-nav {
    display: none !important;
  }
}

.choose-section__card {
  overflow: hidden;
  position: relative;
}

.choose-section__card::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.choose-section__card:hover::before {
  opacity: 0.7;
}

.choose-section__card img {
  width: 100%;
  aspect-ratio: 0.7;
}

.choose-section__card-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 3;
}

@media screen and (max-width: 425px) {
  .choose-section__card-name {
    font-size: 12px;
  }
  .choose-section h1 {
    font-size: 22px;
  }
}

.slider__carousel-wrap {
  position: relative;
}

.slider__card {
  position: relative;
  cursor: pointer;
}

.slider__card .price {
  font-weight: 600;
}

.slider__card .price__old {
  display: inline;
}

.slider__card .price__old.overlined {
  font-size: 14px;
}

.slider__card .price__old.overlined span {
  text-decoration: line-through;
}

.slider__card .price__new {
  color: red;
  display: inline;
}

.slider__card .name {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2px;
}

.slider__card .brand {
  font-weight: 600;
  line-height: 1.3;
}

.slider__card .description {
  line-height: 1;
  font-size: 14px;
}

.slider__card .sizes {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  line-height: 1.2;
}

.slider__card:hover .sizes {
  opacity: 1;
}

.slider__card:hover .slider__image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider__card.favorite .slider__favourite {
  fill: red;
}

.slider__image {
  position: relative;
  overflow: hidden;
}

.slider__image img {
  width: 100%;
  aspect-ratio: 0.6;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.slider__favourite {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slider__favourite:hover {
  fill: red;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider__label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  font-size: 12px;
  color: #fff;
  border-radius: 0 10px 0 10px;
  font-weight: 600;
}

.slider__arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  z-index: 2;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-box-shadow: 0 2px 8px #00000014;
          box-shadow: 0 2px 8px #00000014;
  padding: 8px;
}

.slider__arrow svg {
  width: 30px;
  height: 30px;
}

.slider__arrow:hover {
  opacity: 1;
}

.slider__arrow.arrow-left {
  left: -10px;
}

.slider__arrow.arrow-right {
  right: -10px;
}

@media screen and (max-width: 768px) {
  .slider__card .brand {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .slider__arrow {
    padding: 4px 8px;
  }
  .slider__arrow svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .slider__title {
    font-size: 22px;
  }
  .slider__arrow {
    padding: 2px 8px;
    -webkit-transform: translateY(-180%);
            transform: translateY(-180%);
  }
  .slider__arrow svg {
    width: 15px;
    height: 15px;
  }
}

.baner {
  position: relative;
}

.baner__arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  z-index: 2;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-box-shadow: 0 2px 8px #00000014;
          box-shadow: 0 2px 8px #00000014;
  padding: 8px;
}

.baner__arrow svg {
  width: 30px;
  height: 30px;
}

.baner__arrow:hover {
  opacity: 1;
}

.baner__arrow.arrow-left {
  left: 10px;
}

.baner__arrow.arrow-right {
  right: 10px;
}

.baner .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.baner .owl-dots .owl-dot span {
  background: #fff;
}

.baner .owl-dots .owl-dot.active span {
  background: red;
}

@media screen and (max-width: 768px) {
  .baner__arrow {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 600px) {
  .baner__arrow {
    padding: 4px 8px;
  }
  .baner__arrow svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .baner__arrow {
    padding: 2px 8px;
  }
  .baner__arrow svg {
    width: 15px;
    height: 15px;
  }
}

.actual__card:hover .actual__img::before {
  opacity: 0.4;
}

.actual__img {
  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
}

.actual__img img {
  width: 100%;
  aspect-ratio: 1;
}

.actual__img::before {
  content: '';
  position: absolute;
  background-color: #000;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  pointer-events: none;
}

.actual__name {
  font-weight: 700;
  margin-bottom: 6px;
}

@media screen and (max-width: 576px) {
  .actual__card {
    margin-bottom: 16px;
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .actual__name {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .actual__description {
    font-size: 12px;
  }
}

.catg-slider {
  padding-top: 30px;
}

.catg-slider {
  position: relative;
  overflow: hidden;
}

.catg-slider::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 20px;
  bottom: 0;
  width: 60px;
  background: #fff;
  z-index: 2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.catg-slider::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 20px;
  bottom: 0;
  width: 60px;
  background: #fff;
  z-index: 2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.catg-slider .owl-item {
  border-radius: 5px;
}

.catg-slider .owl-item:hover {
  background: #e4e4e4;
}

.catg-slider__item {
  padding: 0 12px;
}

.catg-slider__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catg-slider__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.catg-slider__descr {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .catg-slider__item {
    padding: 0 6px;
  }
}

@media screen and (max-width: 425px) {
  .catg-slider__img {
    width: 40px;
    height: 40px;
  }
  .catg-slider__descr {
    font-size: 12px;
  }
}

.footer {
  background: #222222;
  width: 100%;
  color: #fff;
}

.footer__col {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.footer__name {
  font-weight: 700;
}

.footer__item {
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  padding: 3px 0;
}

.footer__item:hover {
  color: #bfbfbf;
}

.footer__logo {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.footer__about {
  text-align: right;
}

.footer__social {
  margin-left: auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__social svg {
  width: 30px;
  height: 30px;
}

.footer__social svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer__social svg circle {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer__social:hover svg path {
  stroke: #bfbfbf;
}

.footer__social:hover svg circle {
  stroke: #bfbfbf;
}

.footer__social:hover svg circle.point {
  fill: #bfbfbf;
}

@media screen and (max-width: 768px) {
  .footer__logo-wrap {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__logo {
    text-align: left !important;
  }
  .footer__list {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .footer__about-wrap {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 475px) {
  .footer__logo {
    font-size: 36px;
  }
}

@media screen and (max-width: 425px) {
  .footer__name {
    font-size: 14px;
  }
  .footer__item {
    font-size: 12px;
  }
}

.modal-input-icon {
  width: 20px;
  height: 20px;
}

.modalInput:focus {
  border-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 none;
}

.modal-link {
  font-size: 14px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.modal-link:hover {
  color: #595959;
}

#selectCityModal .city-item {
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

#selectCityModal .city-item:hover {
  color: #595959;
}
